video#bgvideo{
	background: url(https://www.ruddernation.com/info/images/aurora.jpg) no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}
